body{
  padding: 0;
  margin: 0;
}

.logo{
  height: 18.5px;
}

.header{
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  padding-left: 74px;
  background-color: #1A1A1A;
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
}

.header nav{
  padding-right: 70px;
}

.items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto 0px auto auto;
  flex-wrap: nowrap;
}

.item{
  color: rgb(142, 142, 154);
  font-family: styrene, sans-serif;
  font-size: 14px;
  letter-spacing: 0.06em;
  font-variant: small-caps;
  font-weight: 600;
  text-decoration: none;
  list-style: none;
}

.item a{
  display: block;
  padding: 1.25rem;
  font-size: 0.9375rem;
  transition: color 300ms;
  color: rgb(142, 142, 154);
  cursor: pointer;
  text-decoration: none;
  transition: color 300ms;
  text-transform: lowercase;
}

.item a:hover{
  color: white;
}

.login-a{
  color: inherit;
  text-decoration: none;
}

.login-button{
  text-transform: uppercase;
  margin-right: 0.5rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: 500;
  border: 1px solid;
  color: white;
  background-color: inherit;
  border-color: rgba(255, 255, 255, 0.22);
  cursor: pointer;
  transition: opacity 0.15s;
}

.login-button:hover{
  opacity: 0.8;
}

.menu-icon{
  height: 24px;
  display: none;
}

@media screen and (max-width: 820px) {
  .header{
    padding-left: 25px;
  }

  .header nav{
    padding-right: 25px;
  }

  .items{
    display: none;
  }

  .menu-icon{
    display: flex;
    cursor: pointer;
  }
}


